$colorPrimary:#c0aa83;
$colorDark:#010102;
$colorDark2:#13131a;
$colorLight:#ffffff;
$colorText:#707070;
$colorBlack:#000;

$fontPrimary: 'Montserrat', serif;;
$fontSecondary: 'Nunito Sans', sans-serif;

$mediumSize:992px;
$littleSize:768px;
