@use '../../base/global';
@use '../../base/mixins' as mixin;
@use '../../base/variables' as var;

.cakesFamily{
    margin-bottom: 2.5rem;
    &__cake{
        padding: 1.5rem;
        width: 30%!important;
        background-color: var.$colorDark2;
        margin-right: 2rem;
        @include mixin.mediumDevice{
            width: 45%!important;
        }
        @include mixin.littleDevice{
            width: 95%!important;
        }
    }
    &__image{
        width: 100%;
    }
    &__title{
        @include mixin.text(1.2rem, var.$colorLight, var.$fontPrimary, center);
        margin-bottom: 1.5rem;
    }
    &__text{
        @include mixin.text(1rem, var.$colorLight, var.$fontSecondary, center);
    }
}